.OrderHistory {
  width: 100%;
  height: calc(100vh - 40px);
}
.OrderHistoryMain {
  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 10px 40px;
  background-color: #e7eff6;
  border-radius: 4px;
}
@media (max-width: 1100px) {
  .OrderHistory {
    height: 100vh;
  }
  .OrderHistoryMain {
    min-height: calc(100vh - 70px);
  }
}
