.Profile {
  width: 100%;
  height: calc(100vh - 40px);
}
.ProfileMain {
  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 10px 40px;
  background-color: #e7eff6;
  border-radius: 4px;
  
}
.ProfileBanner{
  width: 100%;
  height: 180px;
  background: url("../../assets/images/close-up-land-asphalt-sun-rays-bokeh-blur-background-wallpaper-widescreen-full-screen-widescreen-hd-wallpapers-background-wallpaper.jpg") no-repeat;
  background-size:cover ;
  background-position: center;
  /* background-color: rgba(255, 255, 255, 0.418); */
  /* background: linear-gradient(to bottom,#ffffff10,#ffffff20,#ffffff30,#ffffff50,#ffffff90,#ffffffd2,#ffffffd8,#ffffffee,#fffffff1,#ffffff90,#ffffff70,#ffffff50,#ffffff30,#ffffff10);   */
  box-shadow: rgba(0, 0, 0, 0.041) 0 0 0 2px;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 40px;
}
.profileBannerImage{
  position: absolute;
  top: 60px;
  left: 30px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px;
}
.profileBannerImage img{
  width: 100%;
}
.ProfileBanner__title{
  text-transform: capitalize;
  letter-spacing: -2px;
  background-color: #fe4a49;
  padding: 10px 20px;
  color: #f5f5f5;
  border-radius: 12px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 48px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.ProfileInfo{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 280px;
}
.ProfileInfo__options{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ProfileInfoBtns{
  margin-top: 15px;
  margin-left: 20px;
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1px;
  border: none;
  color: #fff;
  background-color: #54b2a9d5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.ProfileInfoBtns:hover{
  background-color: #54b2a969;
  color: #000;
}
.ProfileInfoBtns .icon{
  font-size: 16px;
  margin-right: 10px;
}
.ProfileInfos{
  padding: 10px 0;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.ProfileInfos__username{
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: -0.7px;
  font-size: 18px;
}
.ProfileInfos__fullname{
  text-transform: capitalize;
  font-size: 34px;
  letter-spacing: -1.2px;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ProfileInfos__number{
  font-size:  16px;
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
  padding: 6px 18px;
  background-color: #fff;
  border-radius: 6px;
}
/* .ProfileSide {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ProfileSide__left {
  width: 40%;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f097;
  border-radius: 8px 0 0 8px;
}
.ProfileSideLeft__image {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  background-color: #e7e7e7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ProfileSideLeft__image img {
  width: 100%;
}
.ProfileSideLeft__fullName {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
  letter-spacing: -1px;
}
.ProfileSide__right {
  width: 60%;
  height: 500px;
  background-color: #f0f0f097;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ProfileSideRight__title {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 700;
  letter-spacing: -1px;
}
.ProfileSideRight__table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 80%;
  margin-bottom: 20px;
}
.ProfileSideRight__table tr {
  background-color: #ddd;
}

.ProfileSideRight__table tr td {
  padding: 10px 15px;
  text-align: left;
  color: #000;
  font-weight: 600;
  font-size: 12px;
  border: 1px solid #00000079;
}

.ProfileSideRight__table tr:nth-child(even) {
  background-color: #c0c0c0;
}
.Page__options {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.PageOptions__btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 600;
  letter-spacing: -0.5px;
  border-radius: 6px;
  background-color: #e7eff6;
  transition: 0.2s ease-in-out;
}
.PageOptions__btn .icon {
  margin: 0 10px;
  color: blueviolet;

  transition: 0.2s ease-in-out;
}

.PageOptions__btn:hover {
  cursor: pointer;
  background-color: rgb(125, 39, 206);
  color: #fff;
}
.PageOptions__btn:hover .icon {
  color: #fff;
} */
