.Profile {
  width: 100%;
  height: calc(100vh - 40px);
}
.ProfileMain {
  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 10px 40px;
  background-color: #e7eff6;
  border-radius: 4px;
}
@media (max-width: 1100px) {
  .Profile {
    height: 100vh;
  }
  .ProfileMain {
    min-height: calc(100vh - 70px);
  }
}
.ProfileBanner {
  width: 100%;
  height: 180px;

  background: url("../../assets/images/close-up-land-asphalt-sun-rays-bokeh-blur-background-wallpaper-widescreen-full-screen-widescreen-hd-wallpapers-background-wallpaper.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;

  box-shadow: rgba(0, 0, 0, 0.041) 0 0 0 2px;
  border-radius: 12px;
  padding: 20px 40px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.profileBannerImage {
  position: absolute;
  width: 240px;
  bottom: -100px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px;
  background-color: #eaeaea;
}
.profileBannerImage img {
  height: 100%;
}
.ProfileMainHeader {
  width: 100%;
  padding: 10px 0;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.ProfileMainHeaderImage {
  width: 200px;
  height: 200px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.ProfileMainHeaderImage img {
  height: 100%;
}

.ProfileMainName {
  width: 100%;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ProfileMainName h1 {
  font-size: 26px;
  text-transform: capitalize;
  text-align: center;
}

.LogOutSection {
  width: 100%;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.LogOutSection button {
  width: 200px;
  padding: 15px 0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  background-color: #b3cde0;
  color: #050505;
  letter-spacing: 0.1;
}
