.Navbar {
  width: 300px;
  overflow: hidden;
  height: calc(100% - 40px);
  background-color: #fff;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e7eff6;
  border-radius: 4px;
}
.NavbarLogo {
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 28px;
  margin: 0px 0 30px 0;
}
.NavbarLogo .icon {
  font-size: 28px;
  margin-right: 10px;
  color: blueviolet;
  animation: logoRotate 2s 2s forwards normal;
  animation-iteration-count: infinite;
}

.NavbarLogo span {
  font-weight: 700;
}

.NavbarNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.NavbarNav .NavbarNav__link {
  text-transform: uppercase;
  width: 100%;
  margin: 5px 0;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  color: #000;
  transition: 0.4s ease-in-out;
}
.NavbarNav .NavbarNav__link .icon {
  font-size: 23px;
  margin: 0 10px 0 0;
  color: #000000;
  transition: 0.4s ease-in-out;
}
.NavbarNav .NavbarNav__link:hover {
  background-color: #63ade556;
  /* color: #fff; */
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.NavbarNav .NavbarNavLinkActive {
  background-color: #63ace5;
  opacity: 1;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.NavbarNav .NavbarNavLinkActive .icon {
  color: #fff;
}
.NavbarNav .NavbarNavLinkActive:hover {
  background-color: #63ace5;
  opacity: 1;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.NavbarNav .NavbarNavLinkActive:hover .icon {
  color: #fff;
}
@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
